.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

.texto-azul{
    color: #0c63e4;
}

a.texto-blanco{
    color: #ffffff;
}

.card{
    height: 95%;
}

img.imagen-personalizacion{
    width: 75%;
}

.btn-continuar{
    width: 70%;
    align-content: center;
}

.card-img-top{
    position: relative;
    /* max-height: 80%; */
    max-width: 90%;
    width: auto;
    height: auto;
    left: 5%;
}

.imgCatalogo{
    background: rgb(59, 59, 59);
    height: 60%;
    position: relative;
    align-items: center;
}

.card-body{
    position: relative;
}

.btn-nav{
    margin-right: 5px;
    margin-left: 5px;
}

/* Reglas para pantalla de búsqueda */

.imgBusqueda{
    max-width: 30%;
    align-items: center;
}
.btnSeguirLeyendo .col-sm .align-self-center{
    align-items: center;
}

.btnBusqueda{
    width: 40%;
    margin-bottom: 1%;
}

.precioBusqueda{
    text-align: center;
}

.imgConsulta{
    align-items: center;
    max-width: 100%;
}

.modal{
    text-align: center;
}

/* Para ConfirmarCompra */
.btnConfirmarCompra{
    width: 80%;
}
/* Para Consultar Compras */
.btnCancelarCompra{
    width: 40%;
    margin-bottom: 2%;
}

/* Para eliminar cuenta */

.btnEliminarCuenta{
    width: 100%;
}

/* Para Mis ventas del proveedor */

.imgVerCompras{
    max-height: 100%;
    vertical-align: middle;
}

.colMisVentas{
    margin-right: 1%;
    max-width: 100%;
}

.imagenCarro{
    max-height: 100%;
    max-width: 100%;
}

.btnVerCompra{
    position: relative;
    top: 35%;
    height: 40;
    width: 100%;
    overflow: hidden;
    margin: 1% 1% 1% 1%;
}

.tarjetasVerCompras{
    font-size: 70%;
}

/* Para los detalles de la compra del proveedor */

.imgDetallesCompra{
    width: 100%;
}

.btnDisponible{
    position: relative;
    right: 10%;
    width: 30%;
}

.btnPublicacion{
    position: relative;
    left: 10%;
    width: 30%;
}

.btnProblema{
    position: relative;
    right: 10%;
    width: 30%;
}

.btnCancelarVenta{
    position: relative;
    left: 10%;
    width: 30%;
}

/* Pantalla de Publicar automóvil 1 */

.Nota{
    font-size: small;
}

.inputDescripcion{
    height: 100px;
}

#descripcion{
    font-size: 12px;
    font-size: medium;
}

.imgDesc{
    width: 100%;
}