.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

.texto-azul{
    color: #0c63e4;
}

.card{
    height: 95%;
}

img.imagen-personalizacion{
    width: 75%;
}

.btn-continuar{
    width: 70%;
    align-content: center;
}

.card-img-top{
    position: relative;
    /* max-height: 80%; */
    max-width: 90%;
    width: auto;
    height: auto;
    left: 5%;
}

.imgCatalogo{
    background: rgb(59, 59, 59);
    height: 60%;
    position: relative;
}

.card-body{
    position: relative;
}