.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

.texto-azul{
    color: #0c63e4;
}

a.texto-blanco{
    color: #ffffff;
}

.card{
    height: 95%;
}

img.imagen-personalizacion{
    width: 75%;
}

.btn-continuar{
    width: 70%;
    align-content: center;
}

.card-img-top{
    position: relative;
    /* max-height: 80%; */
    max-width: 90%;
    width: auto;
    height: auto;
    left: 5%;
}

.imgCatalogo{
    background: rgb(59, 59, 59);
    height: 60%;
    position: relative;
    align-items: center;
}

.card-body{
    position: relative;
}

.btn-nav{
    margin-right: 5px;
    margin-left: 5px;
}

/* Reglas para pantalla de búsqueda */

.imgBusqueda{
    max-width: 30%;
    align-items: center;
}
.btnSeguirLeyendo .col-sm .align-self-center{
    align-items: center;
}

.btnBusqueda{
    width: 40%;
    margin-bottom: 1%;
}

.precioBusqueda{
    text-align: center;
}
/* 
.imgBusqueda{
    position: relative;
    display: inline-block;
    max-width: 40%;
}

.busqueda .card-body{
    position: relative;
    display: inline-block;
    left: 40%;
} */